### Basics Operation

In [23]:
print(2 + 2)

print(50 - 5*6)

print((50 - 5*6) / 4)

print(8 / 5)  # division always returns a floating point number

4
20
5.0
1.6

In [28]:
print(17 / 30)     # classic division returns a float

x = 15
y = 2

print(x // y)     # floor division discards the fractional part
 
print(17 % 3)      # the % operator returns the remainder of the division

print(5 * 3 + 2)   # result * divisor + remainder

0.5666666666666667
7
2
17

In [19]:
width = 20
height = 5 * 9
width * height

900

### String

In [31]:
word = 'Python'
print(word[0])  # character in position 0
print(word[5])  # character in position 5
print(word[-1])  # last character
print(word[-2]) # second-last character
print(word[0:2])  # characters from position 0 (included) to 2 (excluded)
print(word[2:5]) # characters from position 2 (included) to 5 (excluded)

P
n
n
o
Py
tho

In [33]:
word[42]  # the word only has 6 characters

IndexError: string index out of range

In [34]:
s = 'supercalifragilisticexpialidocious'
len(s)

34

In [35]:
'J' + word[1:]

'Jython'

### List

In [36]:
squares = [1, 4, 9, 16, 25]
squares

[1, 4, 9, 16, 25]

In [37]:
squares[:]

[1, 4, 9, 16, 25]

In [38]:
squares + [36, 49, 64, 81, 100]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [39]:
cubes = [1, 8, 27, 65, 125]  # something's wrong here
4 ** 3

64

In [41]:
cubes[3] = 64
cubes

[1, 8, 27, 64, 125]

In [45]:
cubes.append(216)  # add the cube of 6
cubes.append(7 ** 3)  # and the cube of 7
cubes

[1, 8, 27, 64, 125, 216, 343, 216, 343, 216, 343, 216, 343]

In [46]:
letters = ['a', 'b', 'c', 'd', 'e', 'f', 'g']
letters

['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [47]:
letters[2:5] = ['C', 'D', 'E']
letters

['a', 'b', 'C', 'D', 'E', 'f', 'g']

In [48]:
letters[2:5] = []
letters

['a', 'b', 'f', 'g']

In [50]:
# clear the list by replacing all the elements with an empty list
letters[:] = []
letters

[]

In [51]:
letters = ['a', 'b', 'c', 'd']  #length of list
len(letters)

4

In [52]:
a = ['a', 'b', 'c']
n = [1, 2, 3]
x = [a, n]
x

[['a', 'b', 'c'], [1, 2, 3]]

In [53]:
x[0][1]

'b'

### Tuples & Sequences

In [55]:
t = 12345, 54321, 'hello!'
t[0]

12345

In [56]:
# Tuples may be nested:
u = t, (1, 2, 3, 4, 5)
u

((12345, 54321, 'hello!'), (1, 2, 3, 4, 5))

In [57]:
# Tuples are immutable:
t[0] = 'hjdsb'
t

TypeError: 'tuple' object does not support item assignment

In [58]:
x, y, z = t

In [61]:
empty = ()
singleton = 'hello',    # <-- note trailing comma
print(len(empty))
print(len(singleton))

0
1

### Sets

In [62]:
basket = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}
print(basket)

{'apple', 'orange', 'banana', 'pear'}

In [63]:
'orange' in basket

True

In [64]:
a = set('abracadabra')
b = set('alacazam')

In [65]:
a

{'a', 'b', 'c', 'd', 'r'}

In [68]:
a|b

{'a', 'b', 'c', 'd', 'l', 'm', 'r', 'z'}

In [69]:
a-b

{'b', 'd', 'r'}

In [70]:
a ^ b

{'b', 'd', 'l', 'm', 'r', 'z'}

In [71]:
a & b

{'a', 'c'}

In [72]:
a = {x for x in 'abracadabra' if x not in 'abc'}  #list comprehensions
a

{'d', 'r'}

### Dictionaries

In [73]:
tel = {'jack': 4098, 'sape': 4139}

In [74]:
tel['guido'] = 4127

In [75]:
tel

{'jack': 4098, 'sape': 4139, 'guido': 4127}

In [76]:
del tel['sape']

In [77]:
tel

{'jack': 4098, 'guido': 4127}

In [78]:
list(tel)

['jack', 'guido']

In [79]:
sorted(tel)

['guido', 'jack']

In [80]:
'guido' in tel

True

In [81]:
dict([('sape', 4139), ('guido', 4127), ('jack', 4098)])

{'sape': 4139, 'guido': 4127, 'jack': 4098}

In [82]:
{x: x**2 for x in (2, 4, 6)}

{2: 4, 4: 16, 6: 36}

In [83]:
dict(sape=4139, guido=4127, jack=4098)

{'sape': 4139, 'guido': 4127, 'jack': 4098}

In [84]:
knights = {'gallahad': 'the pure', 'robin': 'the brave'}
for k, v in knights.items():
    print(k, v)

gallahad the pure
robin the brave

In [85]:
for i, v in enumerate(['tic', 'tac', 'toe']):
    print(i, v)

0 tic
1 tac
2 toe

In [86]:
#To loop over two or more sequences at the same time, 
#the entries can be paired with the zip() function.
questions = ['name', 'quest', 'favorite color']
answers = ['lancelot', 'the holy grail', 'blue']
for q, a in zip(questions, answers):
     print('What is your {0}?  It is {1}.'.format(q, a))

What is your name?  It is lancelot.
What is your quest?  It is the holy grail.
What is your favorite color?  It is blue.

### if Statements

In [88]:
x = int(input("Please enter an integer: "))

if x < 0:
    x = 0
    print('Negative changed to zero')
elif x == 0:
     print('Zero')
elif x == 1:
    print('Single')
else:
    print('More')

Please enter an integer: 9
More

### for Statements

In [89]:
words = ['cat', 'window', 'defenestrate']
for w in words:
    print(w, len(w))

cat 3
window 6
defenestrate 12

### The range() Function

In [90]:
for i in range(5):
     print(i)

0
1
2
3
4

### split,range

In [2]:
a = input()
a

3

'3'

In [3]:
print(type(a))

<class 'str'>

In [4]:
#type casting
type(int(a))
a = int(a)

In [5]:
#split ----> strings
s ="abc pqr dfert ghj"

In [6]:
ans = s.split()

In [7]:
ans

['abc', 'pqr', 'dfert', 'ghj']

In [8]:
s ="abc,pqr,dfert,ghj"

In [9]:
ans1 = s.split(',')

In [10]:
ans1

['abc', 'pqr', 'dfert', 'ghj']

In [11]:
lin = input()

In [14]:
for i in range(2,10,2):
    print(i)

2
4
6
8

In [15]:
#list comprehension
lis = [2,5,7,9,4,1]
n_ls = [i**2 for i in lis ]
print(n_ls)

[4, 25, 49, 81, 16, 1]

In [16]:
lis = [2,5,7,9,4,1]
n_ls = [i**2 for i in lis if i%2!=0]
print(n_ls)

[25, 49, 81, 1]

In [17]:
def myfun(n):
    return n**3
lis = [1,4,6,8,3]
t = map(myfun,lis)

In [18]:
list(t)

[1, 64, 216, 512, 27]